header.site-header
	.container.header-container
		.site-header-left
			a.logo(href="/coffin/build/")
				img.logo__img.logo__img--desktop(src="images/logo.svg", alt="")
				img.logo__img.logo__img--mobile(src="images/logo-mob.svg", alt="")
		nav.menu
			ul.menu__list.menu__list--visible
				li.menu__list-item(class="" +menu_item_1_additional_classes)
					a.menu__list-link(href="/coffin/build/services.html") УСЛУГИ
				li.menu__list-item(class="" +menu_item_2_additional_classes)
					a.menu__list-link(href="/coffin/build/about.html") О НАС
				li.menu__list-item(class="" +menu_item_3_additional_classes)
					a.menu__list-link(href="/coffin/build/gallery.html") ГАЛЕРЕЯ
				li.menu__list-item(class="" +menu_item_4_additional_classes)
					a.menu__list-link(href="/coffin/build/contacts.html") КОНТАКТЫ
		.site-header-right
			.header-info
				a.header-info__num(href="tel:+7912984782") +7912984782
				.header-info__text Работаем круглосуточно
		.sh-burger
			span

.mobile-menu
	.container.container--mobile-menu
		.mobile-menu__list
			a.mobile-menu__link(href="/coffin/build/services.html") УСЛУГИ
			a.mobile-menu__link(href="/coffin/build/about.html") О НАС
			a.mobile-menu__link(href="/coffin/build/gallery.html") ГАЛЕРЕЯ
			a.mobile-menu__link(href="/coffin/build/contacts.html") КОНТАКТЫ
			.mobile-menu__adress улица Пушкина, дом 7, город Москва



